/* ===========================
   GLOBAL STYLES
=========================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

:root{

    --primary:#2563EB;
    --primary-hover:#1D4ED8;

    --gold:#FBBF24;
    --gold-hover:#F59E0B;

    --background:#0B1120;
    --card:#111827;

    --white:#FFFFFF;
    --text:#CBD5E1;

}

html{
    scroll-behavior:smooth;
}

body{

    background:var(--background);

    color:var(--white);

    overflow:hidden;

}

a{

    text-decoration:none;

}

button{

    border:none;

    cursor:pointer;

    transition:.3s;

}

input{

    border:none;

    outline:none;

    font-size:15px;

}

/* ===========================
   BACKGROUND
=========================== */

.background{

    position:fixed;

    width:100%;
    height:100%;

    overflow:hidden;

    z-index:-2;

    background:
    linear-gradient(135deg,#08101d,#0B1120,#101827);

}

.circle{

    position:absolute;

    border-radius:50%;

    filter:blur(90px);

}

.circle1{

    width:350px;
    height:350px;

    background:#2563eb55;

    top:-80px;
    left:-120px;

}

.circle2{

    width:320px;
    height:320px;

    background:#fbbf2440;

    bottom:-80px;
    right:-120px;

}

.circle3{

    width:220px;
    height:220px;

    background:#2563eb40;

    top:45%;
    left:50%;

    transform:translate(-50%,-50%);

}

/* ===========================
   SCROLLBAR
=========================== */

::-webkit-scrollbar{

    width:8px;

}

::-webkit-scrollbar-thumb{

    background:var(--primary);

    border-radius:20px;

}

::-webkit-scrollbar-track{

    background:#0B1120;

}
